<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lz.dao.ProductscontentMapper">
  <resultMap id="BaseResultMap" type="com.lz.model.pojo.Productscontent">
    <result column="productsContentId" jdbcType="INTEGER" property="productscontentid" />
    <result column="productsContentkey" jdbcType="VARCHAR" property="productscontentkey" />
    <result column="productsContentValue" jdbcType="VARCHAR" property="productscontentvalue" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    productsContentId, productsContentkey, productsContentValue
  </sql>
  <select id="selectByExample" parameterType="com.lz.model.pojo.ProductscontentExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from productscontent
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.lz.model.pojo.ProductscontentExample">
    delete from productscontent
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lz.model.pojo.Productscontent">
    insert into productscontent (productsContentId, productsContentkey, 
      productsContentValue)
    values (#{productscontentid,jdbcType=INTEGER}, #{productscontentkey,jdbcType=VARCHAR}, 
      #{productscontentvalue,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lz.model.pojo.Productscontent">
    insert into productscontent
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="productscontentid != null">
        productsContentId,
      </if>
      <if test="productscontentkey != null">
        productsContentkey,
      </if>
      <if test="productscontentvalue != null">
        productsContentValue,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="productscontentid != null">
        #{productscontentid,jdbcType=INTEGER},
      </if>
      <if test="productscontentkey != null">
        #{productscontentkey,jdbcType=VARCHAR},
      </if>
      <if test="productscontentvalue != null">
        #{productscontentvalue,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lz.model.pojo.ProductscontentExample" resultType="java.lang.Long">
    select count(*) from productscontent
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update productscontent
    <set>
      <if test="record.productscontentid != null">
        productsContentId = #{record.productscontentid,jdbcType=INTEGER},
      </if>
      <if test="record.productscontentkey != null">
        productsContentkey = #{record.productscontentkey,jdbcType=VARCHAR},
      </if>
      <if test="record.productscontentvalue != null">
        productsContentValue = #{record.productscontentvalue,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update productscontent
    set productsContentId = #{record.productscontentid,jdbcType=INTEGER},
      productsContentkey = #{record.productscontentkey,jdbcType=VARCHAR},
      productsContentValue = #{record.productscontentvalue,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>